html {
    height: 100%;
}

body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    background: #111;
    margin: 0;
    width: 100%;
    margin: auto;
    font-size: 18px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./Radial_Forro_Radio.webp");
    background-position: center center;    
}

/* Sections ---------------------------------- */

/* main flex container */
.flex_1 {
    display: flex;
    flex-direction: column;
    max-width: 427px;
    width: 100%;
    margin: auto;
    background: #121212;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #121212;
}

.player {
    justify-content: center;
    text-align: center;
}

.background {
    flex: 2;
    border-bottom: 7px solid #dcc68d;
    border-top: 7px solid #dcc68d;
    background: #dcc68d;
    padding: 1.5em 0;
    border-radius: 20px;
    background: #222;
    margin: 1.222em;
    box-shadow: 0 0 10px 1px rgb(41, 41, 41);
}

.iconify {
    color: #dcc68d !important;
    ;
}

.audioPlayer {
    min-height: 100%;
    background-color: #111;
    text-align: left;
    color: #dcc68d;
    box-shadow: inset -7px 0 9px -7px rgba(134, 130, 130, 0.24);
    flex: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 3px #dcc68d solid;
}

.aroundbutton {
    overflow: visible;
    margin-top: .59em;
    cursor: pointer;
    margin-bottom: 50px;
}

.playbutton {
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    display: block;
    width: 24px;
    height: 31px;
    border-radius: 50%;
    padding: 16px 39px 16px 26px;
}

.playbutton:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 75px;
    height: 75px;
    background: #dcc68d;
    border-radius: 50%;
    animation: pulse-border 2.2s ease-out infinite;
}

.playbutton:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 75px;
    height: 75px;
    background: #dcc68d;
    border-radius: 50%;
    transition: all 200ms;
}

.playbutton:hover:after {
    background-color: darken(#dcc68d, 10%);
}

.playbutton img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.playbutton span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 22px solid #111;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

/* animation for the play button */
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#song {
    font-weight: normal;
    color: #dcc68d;
}

#artist {
    font-weight: bold;
    font-size: large;
    color: #dcc68d;
}

#vol-control {
    appearance: slider-horizontal;
    cursor: default;
    border: initial;
    margin: 2px;
    height: 12px;
    background: #000000;
    border-radius: 15px;
    filter: hue-rotate(140deg)brightness(.9);
}

i.fa-volume-down {
    margin-right: -8px;
    right: 0;
    margin: 2px;
    font-size: 15px;
}

.fa-pause {
    width: 1.20em !important;
}

.fa-play {
    width: 1.35em !important;
}

i.fa-volume-up {
    margin-right: -8px;
    right: 0;
    margin: 2px;
    font-size: 15px;
}

/* offsets the inner parts of the player */
.controls {
    display: flex;
    padding: 0 4em;
    flex-direction: row;
    margin-top: 3em;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .flex_1, .modal-content {
        min-width: 95%;
        border-radius: 20px;
        height: 100vh;
    }

    body {
        background-color: #121212;
        background: #111 !important;
    }

}

#nojs_message {
    background: #726f6f;
    color: #dcc68d;
    font-weight: bolder;
    line-height: 1.5em;
    padding: 1em;
}



input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: 0;
}

.toggle {
    height: 28px;
    width: 48px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 1em .3em;
    border: 2px solid #dcc68d;
    background: linear-gradient(180deg, #494A50 0%, #29292B 100%);
    transition: all 0.2s ease;
}

.toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #111;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
    /*! border-color: #dcc68d; */
    background: #dcc68d;
    margin: 1em .3em;
}

.toggle:checked:after {
    transform: translatex(20px);
}

.pressed {
    display: block;
    position: relative;
    z-index: 3;
    background: #111;
    width: 22px !important;
    height: 22px !important;
    border-left: 0px solid #111 !important;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
}

.on {
    color: #111;
    z-index: 100;
    display: block;
    visibility: visible;
    position: inherit;
    font-size: 32px !important;
    border: none;
}

.loader {
    border: 3px solid #111;
    border-top-style: solid;
    border-top-width: 5px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1.4s ease-out infinite;
    border-radius: 50%;
    width: 100px;
    height: 75px;
    background: #dcc68d;
}

#loader {
    visibility: hidden;
    position: absolute;
    display: block;
    margin: auto;
    overflow: visible;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.quality {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    padding-top: .25em;
    justify-content: center;
    border-top: 1px solid #dcc68d;
}

p{
    color: #dcc68d;
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #111;
    margin: 1% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

.modal-content h2 {
    color: #dcc68d;
}

/* The Close Button */
.close1,
.close2 {
    color: #dcc68d;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus {
    color: #726f6f;
    text-decoration: none;
    cursor: pointer;
}

.myBtn {
    background-color: #dcc68d;
    color: #111;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.divBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 0px;
}

.imgCapa {
    border-radius: 5px;
    
}